html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5display-roleresetforolderbrowsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===================== 以上為CSS樣式重置 =====================  */

/* ===================== 以下為頁面CSS樣式 =====================  */
/* * {
  outline: 1px solid red;
} */

/* 內容物垂直水平置中 */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* 頁面樣式 */
body {
  background-color: #544a47;
}
.container {
  width: auto;
  margin: 0 auto;
  display: flex;
  width: 500px;
  height: 350px;
  border: 1px solid #888;
}
.title {
  width: 500px;
  background-color: yellow;
}
h1 {
  .color: red;
}
.get-1 {
  background-color: #fff;
}
.text {
  color: blue;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
